{% extends 'base.html' %}
{% block title %}Sesión Cerrada - Recuerdos{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Sesión Sesión</h1>
                    <p>Has cerrado sesión exitosamente.</p>

                    <a href="{% url 'index' %}">Ir al Inicio</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}