{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mt-4 mb-4">
            <h3 class="text-center cafe_cuerpo">Actualizar Propiedad</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                

                <div class="mb-3">
                    <h4 class="text-center">Imágenes</h4>
                    {{ formset.management_form }}
                    <div id="imagen_formset">
                        {% for form in formset %}
                            <div class="mb-3">
                                {{ form.as_p }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Actualizar Propiedad</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const regionSelect = document.querySelector('select[name="region"]');
        const comunaSelect = document.querySelector('select[name="comuna"]');
    
        regionSelect.addEventListener('change', function () {
            const regionId = this.value;
    
            // Verificar que la región no esté vacía
            if (!regionId) {
                comunaSelect.innerHTML = '<option value="">Seleccionar comuna</option>';
                return;
            }
    
            fetch(`/obtener_comunas/?region=${regionId}`)
                .then(response => response.json())
                .then(data => {
                    // Vaciar el select de comunas
                    comunaSelect.innerHTML = '<option value="">Seleccionar comuna</option>';
    
                    // Llenar el select con las comunas obtenidas
                    data.comunas.forEach(comuna => {
                        const option = document.createElement('option');
                        option.value = comuna.id;
                        option.textContent = comuna.nombre;
                        comunaSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error al obtener comunas:', error);
                });
        });
    });
    </script>
    

{% endblock %}
