<footer class="footer mt-5">
    <div class="container text-center">
        <div class="social-icons mb-3">
            <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
        </div>
        <p>&copy; 2024 Tu Recuerdos. Todos los derechos reservados.</p>
    </div>
</footer>